#content-article {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    margin:0;
    padding:0;

    .bedroom {
        width: 100vw;
        height: 100vh;
        display: flex;
        .prev {
            @extend %prev;
        }

        .next {
            @extend %next;
        }

        &__article1 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/dormitorio-1.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }

                p {
                    display: none;
                }
            }
        }

        &__article2 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/dormitorio-2.avif);
            @extend %articles;


            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }

                p {
                    display: none;
                }
            }
        }

        &__article3 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/dormitorio-3.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;

                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }

                p {
                    display: none;
                }
            }
        }
    }

    .living {
        .prev {
            @extend %prev;
        }

        .next {
            @extend %next;
        }

        &__article1 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/living-1.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }
                p{
                    display:none;
                }
            }
        }

        &__article2 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/living-2.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }
                p{
                    display:none;
                }
            }
        }

        &__article3 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/living-3.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }
                p{
                    display:none;
                }
            }
        }
    }

    .kitchen {
        .prev {
            @extend %prev;
        }

        .next {
            @extend %next;
        }

        &__article1 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/kitchen-1.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }
                p{
                    display:none;
                }
            }
        }

        &__article2 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/kitchen-2.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }
                p{
                    display:none;
                }
            }
        }

        &__article3 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/kitchen-3.avif);
            @extend %articles;

            &--watermark {
                @extend %watermark;

                h3 {
                    @extend %articleh3w;
                }

                h4 {
                    @extend %articleh4w;
                }

                a {
                    @extend %article-a;
                    &:hover{
                        @extend %hover;
                    }
                }
            }

            &--text {
                @extend %article--text;

                h2 {
                    height: 3rem;
                    font-family: $style-font;
                    text-align: left;
                    padding-left: 2rem;
                    font-size: 4rem;
                    font-weight: 10;
                }

                h3 {
                    padding: 22px 0px 0px 22px;
                    font-size: 1.3rem;
                    font-family: $style-font-second;
                }
                p{
                    display:none;
                }
            }
        }
    }
}