%content--text{
    font-family: $style-font;
    font-weight: normal;
    font-size: 9vw;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 100vw;
}
%category-grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap:0.3rem;
    grid-row-gap:4rem;
    width: 100vw;
    align-items: center;
    margin:0;
    padding-left: 10%;
}
%category-a {
    position: relative;
    width: 80%;
    height: auto;
    font-size: 4rem;
    font-family: $style-font;
    font-weight: 10;
    color: $main_color;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color:$main_color;
}
%hover{
    opacity: 0.9;
    color:$main_color;
    transform: scale(1.03);
}
%category-img {
    position: relative;
    width: 70%;
}

%watermark {
    display: grid;
    grid-template-columns: 20% 10%;
    padding-top: 1rem;
}

%articles {
    color: $main_color;
    width: 100vw;
    height: 100vh;
    background-position: 50% 20%;
    background-size: cover;
}

%prev {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 3rem;
    top: 40vh;
    left: 5vw;
    height: 3rem;
}

%next {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 3rem;
    top: 40vh;
    left: 90vw;
    height:3rem;
}

%article--text {
    bottom: 0.3rem;
    left: 0.3rem;
    width: 35rem;
    height: 11rem;
    border-color: $main_color;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
}

%articleh3w {
    padding-left: 0rem;
    font-family: $style-font;
    font-size: 5rem;
    opacity: 0.8;
    font-weight: 10;
}

%articleh4w {
    top: 1rem;
    left: 60vw;
    font-size: 1.6rem;
    opacity: 0.7;
    position: relative;
}

%article-a {
    font-size: 2rem;
    position: absolute;
    top: 0.3rem;
    left: 95vw;
    color: $main_color;
    text-decoration: none;
    opacity: 0.7;
    width: 2rem;
}