@media screen and (max-width:800px) {
    .background-black h3 {
        font-size: 2.1vw !important;
        width: 77%;
    }
}

@media screen and (max-width:540px) {
    .background-black h3 {
        font-size: 2.5vw !important;
        width: 77%;
    }

    .social {
        position: absolute;
        width: 100% !important;
        align-items: center;
        top: 80vh !important;
    }

    .social-icons img {
        margin: 1rem;
        width: 1.2rem !important;
        height: auto;
    }
}

@media screen and (max-width:480px) {

    /*header*/
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 4rem;
        border-radius: 0%;
        margin: 0;
        padding: 0;

        .nav__bar ul {
            display: grid;
            grid-template-columns: 20% 21% 24% 22.5% 13.5%;
            padding: 0;
            margin: 0;
            text-align: center;
            height: auto;

            li {
                height: 4rem;
                margin: 0;
                padding-top: 2.5vh;
                text-align: center;
            }
        }
    }

    .section1 {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(../images/index-tablet-mobile.avif);

        &__content {
            margin-top: 10vh;

            &--text2 {
                font-size: 2rem;
            }

            &--text1 {
                font-size: 5rem;
            }
        }
    }

    .section2 {
        width: 100vw;
        height: 100vh;

        &__content {
            width: 100vw;

            &--text {
                padding-top: 10vh;
                padding-bottom: 1vh;
                font-size: 16vw;
            }

            &__category {
                display: inline-grid;
                grid-template-columns: 70%;
                grid-template-rows: 33% 33% 33%;
                grid-row-gap: 0.6rem;
                padding-left: 29%;
                height: 80%;

                &-1 {
                    h3 {
                        font-size: 9vw;
                    }
                }

                &-2 {
                    h3 {
                        font-size: 9vw;
                    }
                }

                &-3 {
                    h3 {
                        font-size: 9vw;
                    }
                }
            }
        }
    }

    .prev {
        width: 2rem !important;
        height: 2rem !important;
        top: 15vh !important;
    }

    .next {
        width: 2rem !important;
        height: 2rem !important;
        top: 15vh !important;
    }

    #content-article {
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.8);

        .bedroom {
            height: 40vh;
            margin-top: 30vh;

            &__article1 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article2 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article3 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 98%;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        .living {
            height: 40vh;
            margin-top: 30vh;

            &__article1 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article2 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article3 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        .kitchen {
            height: 40vh;
            margin-top: 30vh;

            &__article1 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article2 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article3 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 7.2rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }
    }


    .section3 {
        width: 100vw;
        height: 100vh;

        &__content {
            div h2 {
                margin-top: 9vh;
                font-size: 5rem;
            }

            .info {
                top: 30vh;

                h4 {
                    font-size: 4vw;
                }
            }
        }
    }

    .section-4 {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 40vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .background-image {
        color: $style-font;
        width: auto;
        height: 70vh;
        background-position: 50% 50%;
        margin-top: -20vh;
    }

    .background-image h2 {
        top: 50vh !important;
        font-size: 20vw !important;
        left: 2vw !important;
    }

    .background-black h3 {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 10vh !important;
        width: 90vw !important;
        text-align: center;
        font-family: $style-font-second;
        font-size: 12px !important;
        color: $main_color;
        z-index: 1;
    }

    .social {
        position: absolute;
        width: 100vw !important;
        align-items: center;
        margin-top: 1rem;
        top: 40vh !important;
    }

    .social-icons img {
        margin: 1rem;
        width: 1.4rem !important;
        height: auto;
    }

    /*footer*/
    .footer,
    h4 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:320px) {
    header {
        height: 3rem;
    }

    .section2 {
        &__content {
            &--text {
                padding-top: 10vh;
                padding-bottom: 1vh;
                font-size: 16vw;
            }

            &__category {
                display: inline-grid;
                grid-template-columns: 60%;
                grid-template-rows: 22vh 22vh 22vh;
                grid-row-gap: 1rem;
                padding-left: 35%;
                height: 60vh;

                &-1 {
                    height: 100%;
                    img{
                        top:-1rem;
                        width: 50%;
                    }
                    h3{
                        margin-top:-2rem;
                        font-size: 9vw;
                    }
                }
                &-2{
                    height: 100%;
                    img{
                        top:-1rem;
                        width: 50%;
                    }
                    h3{
                        margin-top:-2rem;
                        font-size: 9vw;
                    }
                }
                &-3 {
                    height: 100%;
                    img{
                        top:-1rem;
                        width: 50%;
                    }
                    h3{
                        margin-top:-2rem;
                        font-size: 9vw;
                    }
                }
            }
        }
    }
}