@media screen and (max-width:850px) {
    .section2 {
        &__content {
            .category {
                a{
                    height: 27vh;
                }
                .category-1 {
                    div {
                        img {
                            width: 8rem;
                            height: auto;
                            margin: 0;
                        }
                    }
                }

                .category-2 {
                    div {
                        img {
                            width: 8rem;
                            height: auto;
                            margin: 0;
                        }
                    }
                }

                .category-3 {
                    div {
                        img {
                            margin-top: -2rem;
                            padding-bottom:1rem;
                            width: 8rem;
                            height: auto;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:420px) {

    /*header*/
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 4rem;
        border-radius: 0%;
        margin: 0;
        padding: 0;

        .nav__bar ul {
            display: grid;
            grid-template-columns: 9vh 12vh 12vh 12vh 11vh;
        }
    }

    .section1 {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(../images/index-tablet-mobile.avif);

        &__content {
            margin-top: 10vh;

            &--text2 {
                font-size: 2rem;
            }

            &--text1 {
                font-size: 5rem;
            }
        }
    }

    .section2 {
        width: 100vw;
        height: 100vh;

        &__content {
            width: 100%;

            .content-text {
                padding-top: 10vh;
                font-size: 4rem;
            }

            .category {
                display: inline-grid;
                grid-template-columns: 60%;
                grid-template-rows: 33% 33% 33%;
                padding-left: 29%;
                height: 100%;

                .category-1 {
                    margin: 0;
                    margin-top: 1vh;
                    width: 100%;
                    height: 90%;
                    margin-bottom: 2vh;

                    div {
                        img {
                            width: 70%;
                            height: auto;
                            margin: 0;
                        }

                        h3 {
                            font-size: 2.5rem;
                            margin-top: -1rem;
                        }
                    }
                }

                .category-2 {
                    margin: 0;
                    width: 100%;
                    height: 90%;

                    div {
                        img {
                            width: 70%;
                            height: auto;
                            margin: 0;
                        }

                        h3 {
                            font-size: 2.5rem;
                            margin-top: -1rem;
                        }
                    }
                }

                .category-3 {
                    margin: 0;
                    width: 100%;
                    height: 90%;

                    div {
                        img {
                            margin-top: -2rem;
                            padding-bottom:0rem;
                            width: 70%;
                            height: auto;
                            margin: 0;
                        }

                        h3 {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }

    .prev {
        position: absolute;
        top: 7vh !important;
        left: 3vw !important;
        margin: 0 !important;
    }

    .next {
        position: absolute;
        top: 7vh !important;
        left: 20vw !important;
    }

    #content-article {
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.8);

        .bedroom {
            height: 40vh;
            margin-top: 30vh;

            &__article1 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article2 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article3 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 98%;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        .living {
            height: 40vh;
            margin-top: 30vh;

            &__article1 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article2 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article3 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        .kitchen {
            height: 40vh;
            margin-top: 30vh;

            &__article1 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article2 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__article3 {
                height: 40vh;

                &--watermark {
                    h3 {
                        display: none;
                    }

                    h4 {
                        display: none;
                    }

                    a {
                        margin: 0;
                        top: 1rem;
                        left: 90vw;
                    }
                }

                &--text {
                    width: 10rem;
                    height: 2rem;

                    h2 {
                        display: none;
                    }

                    h3 {
                        display: none;
                    }

                    p {
                        display: block;
                        text-align: center;
                    }
                }

                &--text:hover {
                    width: 23rem;
                    height: 6rem;

                    h2 {
                        display: block;
                        font-family: $style-font;
                        text-align: left;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 10;
                    }

                    h3 {
                        display: block;
                        font-size: 0.8rem;
                        font-family: $style-font-second;
                        margin: 0;
                        padding: 0;
                        padding-left: 1rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }
    }


    .section3 {
        width: 100vw;
        height: 100vh;

        &__content {
            div h2 {
                margin-top: 9vh;
                font-size: 5rem;
            }

            .info {
                top: 30vh;

                h4 {
                    font-size: 4vw;
                }
            }
        }
    }

    .section-4 {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 40vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .background-image {
        color: $style-font;
        width: auto;
        height: 70vh;
        background-position: 50% 50%;
        margin-top: -20vh;
    }

    .background-image h2 {
        position: absolute;
        margin: 0 !important;
        padding: 0;
        top: 50vh;
        font-family: $style-font;
        font-size: 20vw !important;
        z-index: 1
    }

    .background-black h3 {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 10vh !important;
        width: 90vw !important;
        text-align: center;
        font-family: $style-font-second;
        font-size: 12px !important;
        color: $main_color;
        z-index: 1;
    }

    .social {
        position: absolute;
        width: 100vw !important;
        align-items: center;
        margin-top: 1rem;
        top: 40vh!important;
    }

    .social-icons img {
        margin: 1rem;
        width: 1.4rem!important;
        height: auto;
    }

    /*footer*/
    .footer,
    h4 {
        font-size: 0.8rem;
    }
}