
.section2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/living-1.avif);
    color: $main_color;
    width: 100vw;
    height: 100vh;
    background-position: 50% 20%;
    background-size: cover;

    &__content {
        .content-text {
            font-size: 3rem;
            font-family: $style-font;
            font-weight: normal;
            font-size: 7rem;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 3rem;
        }

        .category {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            width: 100vw;
            align-items: center;
            margin: auto;
            margin-top: -2rem;

            .category-1,
            .category-2,
            .category-3 {
                text-align: center;
                margin-left: 15%;
                margin-right: 5%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 15px;
            }

            .category-1:hover,
            .category-2:hover,
            .category-3:hover {
                opacity: 0.9;
            }

            .category-3 {
                img {
                    padding-top: 1rem;
                    margin-bottom: 2rem;
                }
            }

            a {
                width: 80%;
                height: 70%;
                font-size: 4rem;
                font-family: $style-font;
                font-weight: 10;
                color: $main_color;
                text-decoration: none;
                margin: 10vh;

                div {
                    img {
                        height: 13rem;
                    }

                    h3 {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}